pipeline/PL_BLOB_SQL_DEMO.json
{
	"name": "PL_BLOB_SQL_DEMO",
	"properties": {
		"activities": [
			{
				"name": "For Each File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Files').output.childitems",
						"type": "Expression"
					},
					"batchCount": 2,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "file-in//events.csv"
								},
								{
									"name": "Destination",
									"value": ".@{split(item().name,'.csv')}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ABLB_IN",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(item().name,'.csv')",
											"type": "Expression"
										},
										"speccode": {
											"value": "@pipeline().parameters.SpecCode",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ASQL_SINK",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@trim(replace(item().name,'.csv',''))",
											"type": "Expression"
										},
										"SchemaName": "dbo"
									}
								}
							]
						},
						{
							"name": "Append variable",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Copy data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RowsArray",
								"value": {
									"value": "@concat(item().name,'|',string(activity('Copy data').output.rowsCopied))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get All Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ABLB_IN_ALL",
						"type": "DatasetReference",
						"parameters": {
							"SpecCode": {
								"value": "@pipeline().parameters.SpecCode",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Create Manifest",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "For Each File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "CreateManifest",
					"method": "POST",
					"body": {
						"value": "@json(concat('{\"name\":\"file-in\",\"values\":',variables('RowsArray')))",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AF",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Failure - Send Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Create Manifest",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-14.uksouth.logic.azure.com:443/workflows/69a319b95102497ebb0bb28d4abced10/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=nstnBZt5LcGuqmsGCFYLcj5SG05j6NHnvOEy7T3MKjk",
					"method": "POST",
					"body": {
						"value": "{\n\"title\": \"PIPELINE RUN FINISHED\",\n\"dataFactoryName\" : \"@{pipeline().DataFactory}\",\n\"pipelineName\" : \"@{pipeline().Pipeline}\",\n\"pipelineRunId\": \"@{pipeline().RunId}\",\n\"message\":\"@{activity('Create Manifest').error.message}\",\n\"time\" : \"@{pipeline().TriggerTime}\",\n\"color\":\"Red\"\n}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Success - Send Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Create Manifest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-14.uksouth.logic.azure.com:443/workflows/69a319b95102497ebb0bb28d4abced10/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=nstnBZt5LcGuqmsGCFYLcj5SG05j6NHnvOEy7T3MKjk",
					"method": "POST",
					"body": {
						"value": "{\n\"title\": \"PIPELINE RUN FINISHED\",\n\"dataFactoryName\" : \"@{pipeline().DataFactory}\",\n\"pipelineName\" : \"@{pipeline().Pipeline}\",\n\"pipelineRunId\": \"@{pipeline().RunId}\",\n\"message\":\"\",\n\"time\" : \"@{pipeline().TriggerTime}\",\n\"color\":\"Green\"\n}\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SpecCode": {
				"type": "string",
				"defaultValue": "file"
			}
		},
		"variables": {
			"strvalue": {
				"type": "String"
			},
			"RowsArray": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"folder": {
			"name": "DEMO/All/DEMO 3"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-03T22:29:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}