pipeline/PL_BLOB_SQL_DEMO.json
{
	"name": "PL_BLOB_SQL_DEMO",
	"properties": {
		"activities": [
			{
				"name": "For Each File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Files').output.childitems",
						"type": "Expression"
					},
					"batchCount": 2,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "file-in//events.csv"
								},
								{
									"name": "Destination",
									"value": ".@{split(item().name,'.csv')}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"disableMetricsCollection": false,
									"writeBehavior": "insert"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ABLB_IN",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(item().name,'.csv')",
											"type": "Expression"
										},
										"SpecCode": {
											"value": "@pipeline().parameters.SpecCode",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ASQL_SINK",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@trim(replace(item().name,'.csv',''))",
											"type": "Expression"
										},
										"SchemaName": "dbo"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get All Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ABLB_IN_ALL",
						"type": "DatasetReference",
						"parameters": {
							"SpecCode": {
								"value": "@pipeline().parameters.SpecCode",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"SpecCode": {
				"type": "string",
				"defaultValue": "file"
			}
		},
		"variables": {
			"strvalue": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DEMO 3"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-03T22:29:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}