pipeline/PL_SENTIMENT_ANAYSIS.json
{
	"name": "PL_SENTIMENT_ANAYSIS",
	"properties": {
		"activities": [
			{
				"name": "Feedback records",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ABLB_FEEDBACK_IN",
						"type": "DatasetReference",
						"parameters": {
							"SpecCode": {
								"value": "@pipeline().parameters.SpecCode",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Feedback",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Feedback records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Feedback records').output.value\n\n",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "Sentiment Analysis",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://dsp2021-sentiment.cognitiveservices.azure.com/text/analytics/v3.0/sentiment",
								"method": "POST",
								"headers": {
									"Ocp-Apim-Subscription-Key": "6dbd673a9cf645e89fcb8c0cf1fd751b",
									"Content-Type": "application/json",
									"Accept": "application/json"
								},
								"body": {
									"value": "@concat('{\"documents\":[\n\t                     {\n\t\t\t\t\t\t  \"language\": \"en\",\"id\": \"',\n\t                         item().CustomerID ,\n\t\t\t\t\t\t\t'\", \"text\": \"' , item().Feedback ,'\"\n\t\t\t\t\t\t }\n\t\t\t\t\t\t ]\n\t\t\t\t\t\t }')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Results",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Sentiment Analysis",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SentimentAnalysis",
								"value": {
									"value": "@json(concat('{\"id\":','\"',activity('Sentiment Analysis').output.documents[0].id,\n'\",\"sentiment\": \"',activity('Sentiment Analysis').output.documents[0].sentiment ,\n'\" }'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Writing To blob",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "For Each Feedback",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set rundate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://azdevstoredgs2021.blob.core.windows.net/feedback-staging/' ,pipeline().parameters.FileName,'_',variables('FileNameWithTimeStamp'),'.json')",
						"type": "Expression"
					},
					"method": "PUT",
					"headers": {
						"x-ms-version": "2017-11-09",
						"x-ms-blob-type": "BlockBlob"
					},
					"body": {
						"value": "@variables('SentimentAnalysis')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			},
			{
				"name": "Data Flow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Writing To blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "CustomerData",
						"type": "DataFlowReference",
						"parameters": {
							"SpecCode": {
								"value": "'@{pipeline().parameters.SpecCode}'",
								"type": "Expression"
							},
							"Runtime": {
								"value": "'@{variables('FileNameWithTimeStamp')}'",
								"type": "Expression"
							},
							"FileName": {
								"value": "'@{pipeline().parameters.FileName}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"CustomerFeedback": {
								"SpecCode": {
									"value": "@pipeline().parameters.SpecCode",
									"type": "Expression"
								}
							},
							"SentimentalAnalysis": {
								"SpecCode": {
									"value": "@pipeline().parameters.SpecCode",
									"type": "Expression"
								}
							},
							"sinkBLOB": {
								"SpecCode": {
									"value": "@pipeline().parameters.SpecCode",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set rundate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileNameWithTimeStamp",
					"value": {
						"value": "@substring(replace(replace(replace(pipeline().TriggerTime,'-',''),':',''),'T','_'),0,15)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Failure - Send Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Data Flow",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-14.uksouth.logic.azure.com:443/workflows/69a319b95102497ebb0bb28d4abced10/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=nstnBZt5LcGuqmsGCFYLcj5SG05j6NHnvOEy7T3MKjk",
					"method": "POST",
					"body": {
						"value": "{\n\"Data Factory Name\" : @{pipeline().DataFactory},\n\"Pipeline Name\" : @{pipeline().Pipeline},\n\"Pipeline RunId \": @{pipeline().RunId},\n\"Error Message\" : @{activity('Data Flow').output.error},\n\"Date Time\" : @{pipeline().TriggerTime},\n\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Success - Send Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Data Flow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-14.uksouth.logic.azure.com:443/workflows/69a319b95102497ebb0bb28d4abced10/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=nstnBZt5LcGuqmsGCFYLcj5SG05j6NHnvOEy7T3MKjk",
					"method": "POST",
					"body": {
						"value": "{\n\"Data Factory Name\" : @{pipeline().DataFactory},\n\"Pipeline Name\" : @{pipeline().Pipeline},\n\"Pipeline RunId \": @{pipeline().RunId},\n\"Date Time\" : @{pipeline().TriggerTime},\n\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SpecCode": {
				"type": "string",
				"defaultValue": "feedback"
			},
			"FileName": {
				"type": "string",
				"defaultValue": "Customer Feedback"
			}
		},
		"variables": {
			"SentimentAnalysis": {
				"type": "Array"
			},
			"FileNameWithTimeStamp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SentimentAnalysis"
		},
		"annotations": []
	}
}