pipeline/PL_SENTIMENT_ANAYSIS.json
{
	"name": "PL_SENTIMENT_ANAYSIS",
	"properties": {
		"activities": [
			{
				"name": "Feedback records",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ABLB_FEEDBACK_IN",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Feedback",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Feedback records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Feedback records').output.value\n\n",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "Sentiment Analysis",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://dsp2021-sentiment.cognitiveservices.azure.com/text/analytics/v3.0/sentiment",
								"method": "POST",
								"headers": {
									"Ocp-Apim-Subscription-Key": "6dbd673a9cf645e89fcb8c0cf1fd751b",
									"Content-Type": "application/json",
									"Accept": "application/json"
								},
								"body": {
									"value": "@concat('{\n        \"documents\": [\n            {\n                \"language\": \"en\",\n                \"id\": \"',concat('1', concat('\", \"text\": \"', concat(item().Feedback,'\"\n            }\n        ]\n    }'))))\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Results",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Sentiment Analysis",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": []
						}
					]
				}
			}
		],
		"parameters": {
			"SentimentAnalysis": {
				"type": "array"
			}
		},
		"annotations": []
	}
}